@import "./button-transition/button-transition"
/* Bottom list order items */
$height: 420px
.bottom-list
    position: fixed
    min-height: $height
    min-width: 100vw
    max-width:100%
    transition: bottom 500ms ease-in
    &.list-open
        bottom: 0
    &.list-close
        bottom: -$height
        
.bottom-list-content
    height: 400px
    background-color: white
    opacity: 1
