
@import "./colors"
    
@import "../node_modules/bootstrap/scss/bootstrap"

@import "./utils"

/* Logo */
.logo-fixed 
    +fixed-size(50px)
    transition: all .4s ease-in


.logo-fixed.grow-scroll-growed 
    +fixed-size(100px)



/* NavBar */


@include for-md-only
    .navbar 
        .navbar-nav 
            margin: auto


.nav-fixed 
    transition: all .4s ease-in


.nav-fixed.grow-scroll-growed 
    min-height: 130px !important


/* Circle Btn */
.btn-circle
    position: relative
    +fixed-size(60px)
    padding: 0
    border-radius: 35px
    text-align: center
    font-size: 20px
    line-height: 1.42857


/*Fixed bottom container*/
.bottom-container
    position: fixed
    min-width: 100vw
    max-width:100%
    bottom: 0

