
@import "./colors"
    
@import "../node_modules/bootstrap/scss/bootstrap"

@import "./utils"

/* Logo */
.logo-fixed 
    +fixed-size(50px)
    transition: all .4s ease-in


.logo-fixed.grow-scroll-growed 
    +fixed-size(100px)



/* NavBar */

=for-desktop-only
  @media (min-width: 599px)  
      @content 


@include for-desktop-only
    .navbar 
        .navbar-nav 
            margin: auto


.nav-fixed 
    transition: all .4s ease-in


.nav-fixed.grow-scroll-growed 
    min-height: 130px !important


/* Circle Btn */
.btn-circle 
    width: 30px
    height: 30px
    padding: 6px 0px
    border-radius: 15px
    text-align: center
    font-size: 12px
    line-height: 1.42857


