
$coral-1: #D80416
$coral-2: #F2B8B3
$coral-3: #BF0303
$coral-4: #D84141
$coral-5: #F28C8C

$theme-colors: ("coral": $coral-4)

$body-bg: #f8f9fa
// $light: #FFFFFF
// $body-color: #FFFFFF

// $nav-tabs-border-color:             $coral-1
// $nav-tabs-border-width:             3px
// $nav-tabs-border-radius:            1px
    
@import "../node_modules/bootstrap/scss/bootstrap"



=fixed-size($size)
  width: $size
  height: $size


/* Logo */
.logo-fixed 
    +fixed-size(50px)
    transition: all .4s ease-in


.logo-fixed.grow-scroll-growed 
    +fixed-size(100px)



/* NavBar */

=for-desktop-only
  @media (min-width: 599px)  
      @content 


@include for-desktop-only
    .navbar 
        .navbar-nav 
            margin: auto


.nav-fixed 
    transition: all .4s ease-in


.nav-fixed.grow-scroll-growed 
    min-height: 130px !important



