

@import "./colors"    
@import "./css/shimmer"
@import "./utils"

// Menu Item

.menu-item-img 
    position: relative
    height: 180px
    width: 100%

$menu-item-btn-size: 70px

// Btn
.menu-item-btn
    +fixed-size($menu-item-btn-size)
    padding: 10px 16px
    border-radius: 35px
    font-size: 24px
    line-height: 1.33

    //Offset set by size
    position: relative
    top: -($menu-item-btn-size / 2)


//Body
.menu-item-body
    position: relative
    top: -$menu-item-btn-size / 2

//Menu list
.menu-list
    li
        background-color: $body-bg

//Price style
.menu-item-price
    color: $coral-4
    font-size: 1.60em
    font-style: italic
    font-weight: bold
        
//Animations
.menu-item.load-animation
    position: relative
    top: -150px
    opacity: 0
    transition: top 250ms cubic-bezier(0.5, -0.5, 0.5, 1.5), opacity 350ms linear

    .card
        box-shadow: none
        transition: box-shadow 60ms linear

    .card:hover
        box-shadow: 0px 0px 10px 2px rgba($coral-1,1)
    &.anim
        top: 0
        opacity: 1
