
/* Utilities */
=fixed-size($size)
  width: $size
  height: $size

=max-size($size)
  max-width: $size
  max-height: $size

=min-size($size)
  min-width: $size
  min-height: $size


=for-md-only
  @media (min-width: 599px)  
    @content 
  
=for-sm-only
  @media (max-width: 599px)  
    @content 
