<div class="card bg-light">
    
    <div class="card-body">
        <form action="/stallOwner/orderDetails/allOrders/1" method="GET">

            {{!-- Inputs --}}
            <div class="form-row">
                <div class="form-group col-12 col-lg-6">
                    <label for="orderNo">Order No.</label>
                    <input type="number" name="orderNo" id="orderNo" class="form-control" placeholder="eg. 1" aria-describedby="Order Number" value="{{#if orderFilter}}{{orderFilter}}{{/if}}">
                </div>

                <div class="form-group col-12 col-lg-6">
                    <label for="date">Order Date</label>
                    <input type="date" name="orderDate" id="orderDate" class="form-control" placeholder="01/06/2019" aria-describedby="Order Date" value="{{#if dateFilter}}{{dateFilter}}{{/if}}">
                </div>
            </div>

            {{!-- Submit Btn --}}
            <div class="form-row">
                <div class="form-group col text-right">
                    <a class="btn btn-outline-danger" href="/stallOwner/orderDetails/allOrders/1">Clear</a>
                    <button type="submit" class="btn btn-outline-danger" id="filterSubmitBtn">Filter</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>

    let orderNo = document.getElementById('orderNo')
    let orderDate = document.getElementById('orderDate')

    orderNo.oninput = function() {
        if (this.value.length) {
            orderDate.disabled = true
        }
        else{
            orderDate.disabled = false
        }
    }

    orderDate.oninput = function() {
        if (this.value.length) {
            orderNo.disabled = true

        }
        else{
            orderNo.disabled = false
        }
    }

</script>