<div class="card bg-light">
    
    <div class="card-body">
        <form action="/stallOwner/orderDetails/allOrders/" method="GET">

            {{!-- Inputs --}}
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="daterange">Date Range:</label>
                    {{> date_range_picker}}   
                </div>
            </div>

            {{!-- Submit Btn --}}
            <div class="form-row">
                <div class="form-group col text-right">
                    <a class="btn btn-outline-danger" href="/stallOwner/orderDetails/allOrders/">Clear</a>
                    <button type="submit" class="btn btn-outline-danger" id="filterSubmitBtn">Filter</button>
                </div>
            </div>

        </form>
    </div>
</div>

{{!-- <script>

    let orderNo = document.getElementById('orderNo')
    let orderDate = document.getElementById('orderDate')

    orderNo.oninput = function() {
        if (this.value.length) {
            orderDate.disabled = true
        }
        else{
            orderDate.disabled = false
        }
    }

    orderDate.oninput = function() {
        if (this.value.length) {
            orderNo.disabled = true

        }
        else{
            orderNo.disabled = false
        }
    }

</script> --}}