<nav class="nav nav-tabs nav-stacked">
    <a class="nav-link {{#ifCondition title "contains" "Orders"}}active{{/ifCondition}}" href="/stallOwner/orderDetails/allOrders/1/">Orders</a>
    <a class="nav-link {{#ifCondition title "contains" "Ratings"}}active{{/ifCondition}}" href="/stallOwner/orderDetails/ratings/">Ratings</a>
    <a class="nav-link {{#ifCondition title "contains" "Charts"}}active{{/ifCondition}}" href="/stallOwner/orderDetails/charts/">Charts</a>
</nav>