<nav class="nav nav-tabs nav-stacked">
    <a class="nav-link {{#ifCondition title "==" "Orders"}}active{{/ifCondition}}" href="/stallOwner/allOrders/1/">Orders</a>
    <a class="nav-link {{#ifCondition title "==" "Ratings"}}active{{/ifCondition}}" href="/stallOwner/ratings/">Ratings</a>
    <a class="nav-link {{#ifCondition title "==" "Charts"}}active{{/ifCondition}}" href="/stallOwner/orderDetails/">Charts</a>
</nav>