<link type="text/css" rel="stylesheet" href="/css/bottom_list.css">
<div class="container-fluid container-scoll">
    <div class="row">
        <div class="col">
            {{#each size}}
                {{> menu_items/menu_item_bottom_list index=@index}}
            {{/each}}
        </div>
    </div>
</div>
