<div class="sticky-top">
<nav class="navbar sticky-top navbar-expand-lg navbar-light border-bottom rounded-bottom">
  <div class="nav navbar-nav">
    
  <a class="navbar-brand" href="{{#if isCustomer}}/{{else if isAdmin}}/pastOrders{{else}}/stallOwner/{{/if}}"><img class="logo-fixed grow-scroll"  src="/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#if isCustomer}}
            {{!-- Home --}}
            <li class="nav-item {{#ifCondition nav "==" "home"}}active{{/ifCondition}}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            {{!-- Past Order --}}
            <li class="nav-item {{#ifCondition nav "==" "pastOrders"}}active{{/ifCondition}}">
              <a class="nav-link" href="/pastOrders">Past Orders</a>
            </li>
          {{else if isAdmin}}
            {{!-- Admin Panel --}}
            <li class="nav-item {{#ifCondition nav "==" "adminPanel"}}active{{/ifCondition}}">
              <a class="nav-link" href="/admin/adminPanel">Manage Stalls</a>
            </li>
          {{else}}
            {{!-- Current Orders --}}
            <li class="nav-item {{#ifCondition nav "==" "currentOrders"}}active{{/ifCondition}}">
              <a class="nav-link" href="/stallOwner/">Current Orders</a>
            </li>

            {{!-- All Orders --}}
            <li class="nav-item {{#ifCondition nav "==" "orderDetails"}}active{{/ifCondition}}">
              <a class="nav-link" href="/stallOwner/orderDetails/allOrders/1/">Order Details</a>
            </li>

            {{!-- Monthly Summary --}}
            <li class="nav-item {{#ifCondition nav "==" "monthlySummary"}}active{{/ifCondition}}">
              <a class="nav-link" href="/stallOwner/monthlySummary/">Monthly Summary</a>
            </li>

            {{!-- Manage Menu --}}
            <li class="nav-item {{#ifCondition nav "==" "manageMenu"}}active{{/ifCondition}}">
              <a class="nav-link" href="/stallOwner/showMenu">Manage Menu</a>
            </li>
          {{/if}}

        {{!-- Profile navbar for sm --}}
        <div class="nav navbar-nav pull-right d-inline-block d-md-none">
            
            {{> profile_nav}}
        </div>
      </div>
  </div>
  {{!-- Profile navbar for md --}}
  <div class="nav navbar-nav pull-right d-none d-md-inline-block">
      
        {{!-- Shopping cart --}}
        {{#if isCustomer}}
          <div class="shake-effect d-inline-block px-5">
            <a class="" href="/payment" style="text-decoration: none;">
              <i class="coral-1 fas fa-shopping-cart fa-lg"></i>
              <span id="nav-cart-count" class="badge badge-pill badge-danger" style="position: relative; top: -15px;">0</span>
              <span class="text-danger font-weight-bold" style="font-size: .95em; color: #BF0303;">Checkout</span>
            </a>
          </div>
        {{/if}}

        <div class="d-inline-block">
          {{> profile_nav}}</div>
        
      </li>
  </div>
</nav>
{{!-- Popup --}}
{{> alerts/top-popup}}
</div>
<script type="text/javascript" src="/js/nav.js"></script>

