<h2 class="card-title text-center">Register</h2>
<section>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group form-row">
            <div class="col">
                <label for="email">First Name</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="email">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob">
        </div>
        <div class="form-group form-row">
            <div class="col">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="col">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="comfir,_password" placeholder="Confirm Password">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success float-right" onclick="stepToSlide(2)">Next</button>
</section>