<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OrderLah</title>
    <!-- Google Fonts -->
    {{!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet"> --}}

    <!-- Main Stylesheet File -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">

  <!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    {{#if isDev}}
            <span style="color:red;">Warning! you are running dev build, login authentications are disabled in this build. Run using production scripts for testing authentications</span>
            {{#if autoLogin}}
                <br><span style="color:blue;">Automatic Login As: {{autoLoginAs}}</span>
            {{/if}}
    {{/if}}
    <div style="background-image: url('/img/Homepage-3.jpg'); min-width: 100vw; min-height: 100vh;">
    <div style="position: fixed; min-width: 100%; min-height: 100%; overflow-y: auto; overflow-x: hidden; background-color: rgba(0, 17, 38, .7) ">
        {{!-- Popup --}}
        {{> alerts/top-popup}}
        {{#if error}}
            <script>
                showAlert("{{error}}", 3000, "alert-danger")
            </script>
        {{/if}}
        {{#if success}}
            <script>
                showAlert("{{success}}", 3000)
            </script>
        {{/if}}

        {{{body}}}
    </div>
    </div>
        {{!-- Popup Modal --}}
        {{> alerts/popup-modal}}
</body>
</html>