
<link rel="stylesheet" href="/css/admin.css">
<br>

<center>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" aria-describedby="" placeholder="Search Menu" style="width: 200px;">
            <br>
        </div>
        <div class="col-sm-1">
            <button type="button" class="red-btn" data-toggle="modal" data-target="#createStall">Add Stall</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</center>

<br><br>
<div class="row" style="padding-left: 5em">
    {{#if displayStallowner}}
            {{#each displayStallowner}}
                <div class="col-xs-6">
                    <div class="column">
                        <div class="container">
                            <div class="card">
                                <br>                 
                                <div class="card__image-container shimmerBG media">
                                    <center><img class="card__image" src="/uploads/{{this.id}}.jpeg" onerror="this.src='/uploads/error.jpg';" height="140" width="225" alt=""></center>
                                </div>
                                <br>
                                <div class="card__content">
                                    <center><h4 class="card__title">{{this.username}}</h4></center>
                                    <center>
                                        <button type="button" class="red-btn" data-toggle="modal" data-target="#updateForm">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M1.438 16.872l-1.438 7.128 7.127-1.438 12.642-12.64-5.69-5.69-12.641 12.64zm2.271 2.253l-.85-.849 11.141-11.125.849.849-11.14 11.125zm20.291-13.436l-2.817 2.819-5.69-5.691 2.816-2.817 5.691 5.689z"/>
                                            </svg>                                                                
                                        <button type="button" type="submit" class="red-btn" data-toggle="modal">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
                                            </svg>
                                        </button>                                       
                                    </center>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>  
        {{/each}}
    {{/if}}
</div>


<div class="modal fade" id="createStall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Stall</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="modal-body">
                    <br>
                    {{!-- <div class="form-group row">
                            <div class="col-sm-2 imgUp">
                                <div class="imagePreview"></div>                            
                                    <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                                </div>
                    </div> --}}
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="usernam" id="username" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">firstname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="firstName" id="firstName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">lastname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lastName" id="lastName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthday" class="col-sm-2 col-form-label">birthday</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="birthday" id="birthday" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="itemPrice" id="itemPrice" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">phone</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="phone" id="phone" required>
                        </div>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="itemImage" id="itemImage"
                            accept="image/png,image/jpeg,image/jpg">
                        <label class="custom-file-label" for="itemImage">Choose image</label>
                        <div class="invalid-feedback">Invalid file</div>
                    </div>
                    <input type="hidden" id="holder" name="holder"  value="">
                    <div class="modal-footer">
                        <button type="button submit" class="red-btn">Create</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>


