<link rel="stylesheet" type="text/css" href="/css/index.css"/>
{{!-- Styling for menu_item.handlebars --}}
<link rel="stylesheet" type="text/css" href="/css/menu_item.css"/>
<div style="min-height: 1000px; width: 100vw; max-width: 100%;">
    <div class="container-fluid p-5">
        <div class="row d-xl-none mb-5">
            <div class="col">
                <select class="form-control">
                    <option onclick="generateMenuCardItem('')" selected>All Menu Items</option>
                    {{#each cusines}}
                        <option onclick="generateMenuCardItem('{{cusineType}}')">{{cusineType}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-none d-xl-block position-fixed border-right border-secondary">
                <div class="container">
                    <div class="row mt-5 justify-content-center">
                        <div class="col-md-7 w-100 align-self-center">
                            <form class="form-inline">
                                <div class="form-group w-100 mr-sm-3 mb-2">
                                    <input id="searchField" type="text" class="form-control" id="input-search" placeholder="Item name">
                                </div>
                                <button id="searchBtn" type="button" class="btn btn-outline-success mb-2">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row my-5 justify-content-center">
                        <div class="col-7 align-self-center">
                                <div>
                                <ul class="menu-list list-group list-group-flush text-center" >
                                    <li class="category-list-item list-group-item selected"><div onclick="generateMenuCardItem('')">All Menu Items</div></li>
                                    {{#each cusines}}
                                        <li class="category-list-item list-group-item"><div onclick="generateMenuCardItem('{{cusineType}}')">{{cusineType}}</div></li>
                                    {{/each}}
                                </ul>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col offset-md-3 pl-md-5"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h2>Recommended</h2>
                            <br>
                            <div id="all-recommended-menu-container" class="container-scroll">
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>All Menus</h2>
                            <br>
                            <div id="all-menu-container">
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-xl-none mb-5">
        {{!-- FAB button checkout for mobile --}}
        {{> fixed_button icon='fas fa-shopping-cart icon-default'}}

    </div>
    <div class="d-none d-xl-block">
        {{!-- Bottom Order items --}}
        {{> bottom_list}}

    </div>
</div>
<script src="/js/index.js" type="application/javascript"></script>
<script src="/js/menu_item.js" type="application/javascript"></script>
<script src="/js/load_menu_item.js" type="application/javascript"></script>
<script src="/js/rating.js" type="application/javascript"></script>