{{!-- Styling for menu_item.handlebars --}}
<link rel="stylesheet" type="text/css" href="/css/menu_item.css"/>
<script
    src="https://www.paypal.com/sdk/js?client-id=AazJKzsDqoiA6ApXquTum5zTKDC4QmPlbzZXG8YCwmnoQyzPviV8q-2-JBrXbhh-VXS_Nutq8sp4ybGc">
</script>
<div class="container">
    <div class="row" align="center">
        <div class="col">
            <div class="card m-5">
                <div class="card-header"><h3>1.Confirm Orders</h3></div>
                <div class="card-body">
                    <div class="row">
                        {{> list_menu_items}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col">
            <div class="card">
                <div class="card-header"><h3>2.Payment Method</h3></div>
                <div class="card-body">
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
paypal.Buttons().render('#paypal-button-container');
</script>