<div class="container" style="position: relative; top: 10vh; width:">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-3">
            <div class="card shadow p-3 rounded" style="width: 100%;">
                <img class="card-img-top" src="img/logo.png" alt="OrderLah">
                <div class="card-body">
                    <h2 class="card-title text-center">Register</h2>
                    <section>
                        <form action="/registerData" method="post">
                             <div class="form-group">
                                <label for="email">Username</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="password">Retype Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-outline-success float-right">Register</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>