<div class="card-fullcontent">
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-8 col-12" >
            <div class="card shadow p-3 rounded" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">Need Help?</h2>
                    <p>Enter your email and we'll send you a link</p>
                    <section>
                        <form action="/forgotPassword" method="POST">
                            <div>
                                <div class="form-group">
                                    <!--<label for="email">Email address</label>-->
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <br>
                                <button type="submit" class="col btn btn-success">proceed</button> 
                                <br>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>