<link rel="stylesheet" href="/css/stallowner.css">

<br><br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"><center>Quantity</center></th>
            <th scope="col"><center>Rating</center></th>
            <th scope="col"><center>Comment</center></th>
            <th scope="col"><center>Order ID</center></th>
        </tr>
    </thead>
    <tbody>
        {{#if items}}
            {{#each items}}
                <tr>
                    <th>{{this.quantity}}</th>
                    <td>{{this.rating}}</td>
                    <td>{{this.comments}}</td>
                    <td>{{this.orderId}}</td>
                </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>

<br>
<center>
    <form method="GET" action="/stallowner/showMenu">
        <button type="submit" class="green-btn">Return</button>
    </form>
<center>