/* Utilities */
.loading-bg {
  position: fixed;
  z-index: 1030;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}

@media (min-width: 599px) {
  .loading-img-center {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 599px) {
  .loading-img-center {
    max-width: 100px;
    max-height: 100px;
  }
}
