.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 200px;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

box {
  height: 104px;
  width: 100px;
}

lines {
  height: 1.25rem;
  width: 160px;
}

photo {
  display: block !important;
  width: 325px;
  height: 100px;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
/* Utilities */
.menu-item-img {
  position: relative;
  height: 180px;
  width: 100%;
}

.menu-item-btn {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  position: relative;
  top: -25px;
}

.menu-item-body {
  position: relative;
  top: -25px;
}

.menu-list li {
  background-color: #f8f9fa;
}

.menu-item-price {
  color: #D84141;
  font-size: 1.6em;
  font-style: italic;
  font-weight: bold;
}

.menu-item.load-animation {
  position: relative;
  top: -150px;
  opacity: 0;
  transition: top 250ms cubic-bezier(0.5, -0.5, 0.5, 1.5), opacity 350ms linear;
}
.menu-item.load-animation .card {
  box-shadow: none;
  transition: box-shadow 60ms linear;
}
.menu-item.load-animation .card:hover {
  box-shadow: 0px 0px 10px 2px #d80416;
}
.menu-item.load-animation.anim {
  top: 0;
  opacity: 1;
}
