/* Utilities */
/* Logo */
.logo-fixed {
  width: 50px;
  height: 50px;
  transition: all 0.4s ease-in;
}

.logo-fixed.grow-scroll-growed {
  width: 100px;
  height: 100px;
}

/* NavBar */
@media (min-width: 599px) {
  .navbar .navbar-nav {
    margin: auto;
  }
}
.nav-fixed {
  transition: all 0.4s ease-in;
}

.nav-fixed.grow-scroll-growed {
  min-height: 130px !important;
}

.navbar {
  border-bottom: 2px solid #F28C8C !important;
  background-color: rgba(255, 255, 255, 0.925);
}

/*Hover show*/
.navbar-nav li:hover .dropdown-menu {
  display: block;
}

/* Profile nav */
.nav-profile > a {
  color: #BF0303 !important;
}

.profile-dropdown-toggle {
  position: relative;
  top: 2px;
}
.profile-dropdown-toggle::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.125s linear;
  height: 0;
  width: 0;
}
.profile-dropdown-toggle:hover::after {
  transform: rotate(180deg);
}

.nav-profile-img {
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
