/* Utilities */
/* Logo */
.logo-fixed {
  width: 50px;
  height: 50px;
  transition: all 0.4s ease-in;
}

.logo-fixed.grow-scroll-growed {
  width: 100px;
  height: 100px;
}

/* NavBar */
@media (min-width: 599px) {
  .navbar .navbar-nav {
    margin: auto;
  }
}
.nav-fixed {
  transition: all 0.4s ease-in;
}

.nav-fixed.grow-scroll-growed {
  min-height: 130px !important;
}

.navbar {
  border-bottom: 2px solid #F28C8C !important;
  background-color: rgba(255, 255, 255, 0.925);
}
