<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/stallowner.css">
<br><br>
<div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span
     class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right">
     </span></span>
</div>


<center>
    <h1>403 Forbidden</h1>
        <a href="/login" class="btn btn-outline-danger">Return</a>
</center>