<link rel="stylesheet" href="/css/stallowner.css">
<div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add menu item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-alerts"></div>
            {{!-- Add New Menu Item --}}
            <form id="createMenu" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="modal-body">
                    <br>

                    {{!-- Name --}}
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemName" id="itemName" pattern="[a-zA-Z\s]{1,50}" placeholder="enter item name" required> 
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required, max 50 letters </div>                                                    
                        </div>
                    </div>

                    {{!-- Price --}}
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" step=".01" min="0" class="form-control" name="itemPrice" id="itemPrice" placeholder="enter price" required>
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required</div>
                        </div>                       
                    </div>

                    {{!-- Desc --}}
                    <div class="form-group row">
                        <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" placeholder="enter description" pattern="[a-zA-Z0-9\s]{1,255}"  required>
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required, max 255 characters</div>
                        </div>
                    </div>

                    {{!-- Image --}}
                    <div class="form-group row">
                        <div class="col-sm-2 imgUp">
                            <div class="imagePreview"></div>                            
                            <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg" required>                                
                        </div>
                    </div>   
                    
                    {{!-- CSRF --}}
                    <input name="csrf" type="hidden" value="{{csrf}}"/>   
                                
                    <div class="modal-footer">
                        <button id="create-menu-btn" type="button" class="btn btn-outline-danger">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    $(".imgAdd").click(function () {
            $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
        });
        $(document).on("click", "i.del", function () {
            $(this).parent().remove();
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }
            });
        });
</script>

<script>
    $(document).ready(function() {
            var forms = document.getElementsByClassName('needs-validation')          
            var createBtn = document.getElementById("create-menu-btn")
           
            var validation = Array.prototype.filter.call(forms, function (form) {
                createBtn.addEventListener('click', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
    })
</script>

<script>
    $(document).ready(function (){
        $('#create-menu-btn').click(function(){
            createMenuItem();
        });
    });

    function createMenuItem(){
        var form_data = new FormData(document.getElementById('createMenu'));
        $.ajax({
            method: "POST",
            url: "/stallOwner/submitItem",
            data: form_data,
            dataType: 'text',
            contentType: false,
            processData: false,
            success: function (html, status, response) {
                location.reload();
            },
            error: function (error) {
                showAlertInSelector(error.responseText, '#modal-alerts', 3000, 'alert-danger');
            }
        })
    }
</script>