<div class="menu-item {{#unless doNotLoad}}load-animation{{/unless}} d-inline-block m-2">
  <div class="card" id="{{index}}" style="width: 18rem;">
  <img class="card-img-top menu-item-img" alt="Card image cap" hidden>
  <photo class="card-img-top menu-item-img shine"></photo>
  <div class="text-right"><button type="button" class="btn btn-danger btn-circle menu-item-btn mr-3"><i class="fas fa-plus"></i></button></div>
      <div class="card-body menu-item-body">
        <div>
          <lines class="card-title shine"></lines>
          <h5 class="card-title" hidden>Card title</h5>
        </div>
        <div>
          <lines class="card-text shine"></lines>
          <h5 class="card-text menu-item-price" hidden>$4.55</h5>
        </div>
      </div>
  </div>
</div>