<div class="menu-item d-inline-block m-4">
  <div class="card" id="{{index}}" style="width: 18rem;">
  <img class="card-img-top menu-item-img" alt="Card image cap" hidden>
  <photo class="card-img-top menu-item-img shine"></photo>
  <div class="text-right"><button type="button" class="btn btn-danger btn-circle menu-item-btn mr-3"><i class="fas fa-plus"></i></button></div>
  <div class="card-body menu-item-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <lines class="card-title text-center shine"></lines>
          <h5 class="card-title text-center" hidden>Card title</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <lines class="card-text text-center shine"></lines>
            <h5 class="card-title text-center" hidden>$4.55</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>