<link type="text/css" rel="stylesheet", href="/css/scroll-content.css">
<div class="menu-item scroll-content d-inline-block m-4">
  <div class="card" id="{{index}}" style="width: 14rem;">
  <img class="card-img-top menu-item-img" alt="Card image cap" hidden>
  <photo class="card-img-top menu-item-img shine"></photo>
  <div class="text-right" style="font-size: 0.5rem;"><button type="button" class="btn btn-danger btn-circle menu-item-btn mr-3"><i class="fas fa-minus fa-xs translate-center"></i></button></div>
    <div class="card-body menu-item-body">
        <div>
          <lines class="card-title shine"></lines>
          <h5 class="card-title" hidden>Card title</h5>
        </div>
        <div>
          <lines class="card-text shine"></lines>
          <h5 class="card-text menu-item-price" hidden>$4.55</h5>
        </div>
    </div>
  </div>
</div>