<div class="menu-item ${horizontialScrollable? 'scroll-content' : ''} ${no_animation? '' : 'load-animation'} d-inline-block m-2" data-menu-item="${menuItemId}" > 
  <div class="card" id="${containerId}-menu-item-${index}" style="width: 14rem;">
  <img class="card-img-top menu-item-img" alt="Card image cap" hidden>
  <photo class="card-img-top menu-item-img shine"></photo>
  <div class="text-right" style="font-size: 0.5rem;"></div>
      <div class="card-body menu-item-body py-3 px-3">
        <div>
          <lines class="card-title my-1 shine"></lines>
          <h5 class="card-title" hidden>Card title</h5>
        </div>
        <div>
          <lines class="card-text shine"></lines>
          <h5 class="card-text menu-item-price" hidden>$4.55</h5>
        </div>
        <div>
          <lines class="shine" style="width: 140px;"></lines>
          <span class="rating" hidden>
              
          </span>
        </div>
      </div>
  
  </div>
  </div>