<h2 class="card-title text-center">Register</h2>
<section>
    <form id="registerForm">
         <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group form-row">
            <div class="col">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group form-row">
            <div class="col-12 col-md">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="col-12 col-md">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="comfir,_password" placeholder="Confirm Password">
            </div>
        </div>
        <button type="button" class="btn btn-outline-success float-right" onclick="stepToSlide(2);submitToken();">Next</button>
    </form>
</section>