<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="popup-model-title">{{title}}</h5>
    <input type="text" value="{{name}}">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p id="popup-model-body">My custom body</p>
    </div>
    <div class="modal-footer">
    <button id="popup-model-accept" type="button" class="btn btn-primary">Test accept</button>
    <button id="popup-model-reject" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
</div>