<div class="container" style="position: relative; top: 5vh; width:">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="p-3" style="width: 100%;">

                <div class="text-center row">
                    <div class="col">
                        <h1>Current Orders</h1> 
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card container-fluid">

                            {{#each currentOrders as |order|}}
                            {{/each}}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>