<div class="container" style="position: relative; top: 5vh; width:">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="p-3" style="width: 100%;">

                <div class="card">
                    <div class="card-body container-fluid">
                        <div class="row justify-content-end p-3">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Month
                                </a>

                                <div class="dropdown-menu">
                                    {{#each date as |date|}}
                                        <a class="dropdown-item" href="">{{date}}</a>
                                    {{/each}}
                                    <a class="dropdown-item" href="#">Janurary</a>
                                    <a class="dropdown-item" href="#">Feburary</a>
                                    <a class="dropdown-item" href="#">March</a>
                                    <a class="dropdown-item" href="#">April</a>
                                    <a class="dropdown-item" href="#">May</a>
                                    <a class="dropdown-item" href="#">June</a>
                                    <a class="dropdown-item" href="#">July</a>
                                    <a class="dropdown-item" href="#">August</a>
                                    <a class="dropdown-item" href="#">September</a>
                                    <a class="dropdown-item" href="#">October</a>
                                    <a class="dropdown-item" href="#">November</a>
                                    <a class="dropdown-item" href="#">December</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>