<div class="container" style="position: relative; top: 5vh;">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <div style="width: 100%;">

                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>


                {{#if selectedItem}}
                    <p>{{selectedItem}}</p>
                {{else}}
                    <p>Empty</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>
