<br>
<div class="container-fluid">
    <h5 style="font-size:20px;">Track order</h5>
    <div class="card card-body">
        <div class="row justify-content-md-center"></div>
            <form action="/checkOrder?_method=PUT" method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <label for="">Order Number</label>
                                <textarea class="form-control" name="number" id="number" rows="5" placeholder="Enter your Tracking number here..."></textarea>
                                <br>
                                <button id="butAddVideo" type="submit" class="btn btn-primary" style="float:right;">Check Status
			                    </button>
                            </div>
                            <div class="col-lg-7">
                                <label for="">Order status</label>
                                <div class="card card-body bg-secondary text-white">
                                    <row>
                                        <div class="col-lg-9">
                                            <p>Order No: {{order.id}}</p>
                                            <p class="text-info">
                                            </p>
                                            <p>Status: {{order.status}}</p>
                                            <p class="text-info">
                                            </p>                                    
                                            <p>Order Date: {{order.orderTiming}}</p>
                                            <p class="text-info">
                                            </p>
                                        </div>
                                    </row>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <div>
    </div>
</div>