<div class="container-fluid">
    <div class="card card-body">
        <h4>Review Page</h4>
        <br>
        <form action="" method="post">
			<input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="col-lg-3">
                    <img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                </div>
                <div class="col-lg-9">
                    <row>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </row>
                    <row>
                        <div class="form-group">
                            <label class="font-italic" for="">Comments</label>
                            <textarea class="form-control" id="" rows="8">{{orderItem.comments}}</textarea>
                        </div>
                    </row>
                    <button id="butAddVideo" type="submit" class="btn btn-primary" style="float:right;">Save
			        </button>
                </div>
            </div>
		</form>
    </div>
</div>