<div class="container-fluid">
    <div class="card card-body">
        <h4>Review Page</h4>
        <br>
        <form action="/saveReview/{{orderItem.menuItemId}}/{{orderItem.orderId}}?_method=POSTT" method="post">
			<input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="col-lg-3">
                    <input type="file" id="reviewImage" name="reviewImage" accept="image/png,image/jpeg,image/jpg,image/gif">
                    <img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                </div>
                <div class="col-lg-9">
                    <row>
                        <label class="font-italic" for="">Rating</label>
                        <textarea class="form-control" id="" name="rating" cols="10" rows="1">{{orderItem.rating}}</textarea>
                    </row>
                    <row>
                        <div class="form-group">
                            <label class="font-italic" for="">Comments</label>
                            <textarea class="form-control" id="" name="comments" rows="8">{{orderItem.comments}}</textarea>
                        </div>
                    </row>
                    <button id="butAddVideo" type="submit" class="btn btn-primary" style="float:right;">Save
			        </button>
                </div>
            </div>
		</form>
    </div>
</div>