<div id="popup-model" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popup-model-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="popup-model-body"></p>
      </div>
      <div class="modal-footer">
        <button id="popup-model-accept" type="button" class="btn btn-primary"></button>
        <button id="popup-model-reject" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">

    /**
    * Display a bootstrap model dialog
    * @param {object} - {title - title of model, body - the content of the modal,
    *         acceptText - button accept display text. Default: 'Yes', rejectText - button reject display text. Default: 'No'} 
    * @param {object} - option for passing to bootstrap modal
    */
    function showDialog({title, body, acceptText = 'Yes', rejectText = 'No'}, options = {keyboard: false}){

        var promise = new Promise((resolve, reject) => {
            //Set all model texts
            $('#popup-model-title').text(title);
            $('#popup-model-body').text(body);
            $('#popup-model-accept').text(acceptText);
            $('#popup-model-reject').text(rejectText);


            //Remove all listener from previous 'showDialog'
            $("#popup-model-accept").off("click");
            $("#popup-model-reject").off("click");

            //Bind buttons to Promise
            $('#popup-model-accept').click(function(){
                resolve();
                $('#popup-model').modal('hide');
            })
            $('#popup-model-reject').click(function(){
                reject();
                $('#popup-model').modal('hide');
            })

            $('#popup-model').modal(options);
        });
        
        return promise;


    }

    $(document).ready(function() {

    })

</script>
