<link type="text/css" rel="stylesheet" href="/css/top-popup.css">
<script>
    var alertCount = 0;
    /**
    * Show alert message box
    * @param message {string} - message to be shown on the alert
    * @param timeout {number} - set the timeout time (ms) for the alert to be dismissed, 
        setting this to -1 will make the alert show indefinitely (default: 3000ms)
    * @param type {string} - set the bootstrap alert type (default: alert-primary)
    */
    function showAlert(message, timeout=3000, type="alert-primary"){
        showAlertInSelector(message, '#popup-container', timeout, type);
    }

    /**
    * Show alert message box inside a selector element
    * @param message {string} - message to be shown on the alert
    * @param selectorContainer {string} - selector for the element container
    * @param timeout {number} - set the timeout time (ms) for the alert to be dismissed, 
        setting this to -1 will make the alert show indefinitely (default: 3000ms)
    * @param type {string} -  set the bootstrap alert type (default: alert-primary)
    */
    function showAlertInSelector(message, selectorContainer, timeout=3000, type="alert-primary"){
        const popup_html = $(`<div id="popup-alert-${alertCount}" class="popup-item">
                <div class="alert m-0 ${type}" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="removeAlert($('#popup-alert-${alertCount}'))">
                <span aria-hidden="true">&times;</span>
                </button>
                ${message}
                </div>
                </div>`);
        popup_html.appendTo(selectorContainer);
        //Reflow
        popup_html.css('opacity');

        popup_html.addClass('show');

        //Hide element after timeout, if -1 do not remove alert
        if(timeout != -1)setTimeout(function(){removeAlert(popup_html)}, timeout);

    }

    /**
    * Remove/Dismiss the given alert element
    * @param {alert} alert DOM object to be removed/dismiss
    */
    function removeAlert(alert){
        alert.removeClass('show');
        setTimeout(function(){
            //Remove alert after animation
            alert.remove();
        }, 500);
    }

</script>
<div id="popup-container">
</div>
